<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tt_custominvoice</name>
	<displayName><![CDATA[Invoice Custom ]]></displayName>
	<version><![CDATA[1.1.1]]></version>
	<description><![CDATA[Add content on your invoice with some conditions]]></description>
	<author><![CDATA[Adrien THIERRY - tafftaff]]></author>
	<tab><![CDATA[billing_invoicing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
